[Unit]
Description=PyPM2 Process Manager
Documentation=https://github.com/xavdp-pro/pypm2
After=network.target

[Service]
Type=forking
User=%i
Group=%i
WorkingDirectory=%h/pypm2
EnvironmentFile=/etc/default/pypm2
ExecStart=/usr/bin/bash -c '${PYPM2_VENV}/bin/python -m pypm2 resurrect'
ExecReload=/usr/bin/bash -c '${PYPM2_VENV}/bin/python -m pypm2 reload all'
ExecStop=/usr/bin/bash -c '${PYPM2_VENV}/bin/python -m pypm2 stop all'
PIDFile=%h/pypm2/.pypm2/daemon.pid
Restart=always
RestartSec=10
StartLimitInterval=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
